body {
    text-align: center;
    display: flex;
    justify-content: center;
}

.panel{
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 120px;
  position: absolute;
  top: 200px;
  transition: opacity 0.5s linear;
  width: 505px;
  margin: auto;
  opacity: 0;
}

#score-container{
  color: black;
  font-family: "Helvetica";
  font-size: 24px;
  padding: 0 250px 0 0;
  position: absolute;
}
